#navigation {
    position: fixed;
    margin: 0px;
    padding: 0px;
    top: 10px;
    left: 0px;
    list-style: none;
    z-index:9999;
}
#navigation li {
    width: 100px;
}
#navigation li a {
    display: block;
    width: 100px;
    height: 70px;    
    background-color:#CFCFCF;
    background-repeat:no-repeat;
    background-position:center;
    border:1px solid;
    border-radius:0px 10px 10px 0px;
    /*box-shadow: 0px 4px 3px #000;
    box-shadow: 0px 4px 3px #000;
    */
    opacity: 0.6;
}

.home a{
    background-image:url(../img/home.png);
}

.about a{
     background-image:url(../img/id_card.png);
 }

.search a{
      background-image:url(../img/id_card.png);
  }

.photos a{
       background-image:url(../img/id_card.png);
   }

.rss a{
        background-image:url(../img/rss.png);
    }

.contact a{
         background-image:url(../img/mail.png);
     }
.table,
.table tr,
.table td {
    background-color: white !important;
}
.hide{
  display:none;
}